<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script src="../../js/vue.js"></script>
<div id="app">
<!--  1.checkbox单选框-->
<!--  <label for="agree">-->
<!--    <input type="checkbox" id="agree" v-model="isAgree">同意协议-->
<!--  </label>-->
<!--  <h1>你选择的是：{{isAgree}}</h1>-->
<!--  <button :disabled="!isAgree">下一步</button>-->
<!--  2.checkbox多选框-->
  <input type="checkbox" value="篮球" v-model="hobbies">篮球
  <input type="checkbox" value="足球"v-model="hobbies">足球
  <input type="checkbox" value="乒乓球"v-model="hobbies">乒乓球
  <input type="checkbox" value="羽毛球"v-model="hobbies">羽毛球
  <h1>你的爱好是：{{hobbies}}</h1>
<!--  值绑定-->
  <label v-for="item in originHobbies" :for="item">
    <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
  </label>
</div>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      message:'HELLOWORLD',
      isAgree:false,
      hobbies:[],
      originHobbies:['篮球','足球','台球','乒乓球','网球']
    }
  })
</script>
</body>
</html>